<i class="fas fa-paper-plane large"></i><h3> Recipes Sharing App</h3>
<div class="section">
    <p class="lead">Public and private recipes from your daily life</p>
</div>
{{!-- <div class="divider"></div> --}}
<div class="section">
    <a href="/auth/google" class="btn green darken-1">
    <i class="fab fa-google left"></i>Log In With Google</a>
</div>